.App {
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.landingPage{
  background-image: url('https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
  background-size: cover;
  width: auto;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
}

.landingPageh3{
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  padding-top: 200px;
  color: black;
  text-shadow: 1px 1px white;
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-height: 900px) {
  html {
     background-image: url('https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80');
  }
}