.map-container {
    position: absolute;
    width: 50%;
    height: 50%;
  }
  
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }
  